{% extends 'RTIMonitor/layout.html' %}

{% block title %} Report Incident {% endblock %}

{% block context %}
    <div class="tips">
        <h1>Here are some tips that can help prevent fires in woods:</h1>
        <label class="tip">1. Follow the rules and regulations of the area: Before entering any wooded area, make sure to check the rules and regulations of the area. Some areas may have restrictions on campfires, smoking, or other activities that may cause fires.</label><br><hr class="news-hl">
        <label class="tip">2. Avoid lighting fires: If possible, avoid lighting fires in wooded areas altogether. If you must light a fire, ensure it is in a designated fire ring or pit and is under constant supervision.</label><br><hr class="news-hl">
        <label class="tip">3. Dispose of cigarette butts and matches properly: Never throw cigarette butts or matches on the ground in a wooded area. Ensure that they are disposed of properly in a fireproof container.</label><br><hr class="news-hl">
        <label class="tip">4. Be careful when using outdoor equipment: If you are using outdoor equipment such as stoves or lanterns, ensure that they are properly maintained and used. Avoid spilling fuel, and never refuel equipment while it is hot.</label><br><hr class="news-hl">
        <label class="tip">5. Keep an eye on the weather: During periods of hot, dry weather, the risk of fires is much higher. Keep an eye on the weather and avoid outdoor activities that may increase the risk of fires during these times.</label><br><hr class="news-hl">
        <label class="tip">6. Report fires immediately: If you see a fire in a wooded area, report it immediately to the appropriate authorities. The sooner a fire is reported, the quicker it can be contained and extinguished.</label><br><hr class="news-hl">
        <label class="tip">7. Respect wildlife and their habitats: Wildlife and their habitats are crucial to the health of wooded areas. Avoid damaging or disturbing them, as this can increase the risk of fires.</label><br><hr class="news-hl">
        <label>By following these tips, you can help prevent fires in wooded areas and ensure the safety of yourself and others.</label>
    </div>
{% endblock %}
